* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background: #111;
    padding: 15px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.logo {
    color: #f39c12;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://images.unsplash.com/photo-1568605114967-8130f3a36994');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 40px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #f39c12;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.featured {
    padding: 50px 20px;
    text-align: center;
}

.property-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}
